@model List<Blog.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Post List";
}

<h2>Все статьи</h2>
<div>
    <a asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a>
</div>

<div class="block-reg background-white">

    @if (@Model.Count() != 0)
    {

        @foreach (var post in @Model)
        {
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
            <br />
            @if (@post.Tags.Count() != 0)
            {
                @for (var i = 0; i < post.Tags.Count(); i++)
                {
                    <span class="badge badge-success">@post.Tags[i].Name</span>
                }
            }
            else
            {
                <label> Тэгов пока нет.</label>
            }
        </div>

        @if (User.HasClaim("Role", "Admin") || User.HasClaim("Role", "Moderator"))
        {
            <div class="form-check form-check-inline">
                <form method="get" asp-controller="Post" asp-action="Get" asp-route-id="@post.Id">
                    <input class="btn btn-outline-primary btn-sm" type="submit" value="Редактировать" />
                </form>

                <form method="post" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">
                    <input class="btn btn-outline-danger btn-sm" type="submit" value="Удалить" />
                </form>
            </div>
        }

        </div>

            <br />
        }
    }
    else
    {
        <div>
            <label> Статей пока нет.</label>
        </div>
    }


</div>
